In [2]:
!pip install numpy pandas scikit-learn -q

# TATA IPL 2025 winner predictions with Machine Learning

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv('./archive/IPL_stats_2008_2024.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255759 entries, 0 to 255758
Data columns (total 19 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Match id             255759 non-null  int64
 1   Date                 255759 non-null  object
 2   Season               255759 non-null  object
 3   Batting team         255759 non-null  object
 4   Bowling team         255759 non-null  object
 5   Innings No           255759 non-null  int64
 6   Ball No              255759 non-null  float64
 7   Bowler               255759 non-null  object
 8   Striker              255759 non-null  object
 9   Non Striker          255759 non-null  object
 10  runs_scored          255759 non-null  int64
 11  extras               255759 non-null  int64
 12  type of extras       13823 non-null   object
 13  score                255759 non-null  int64
 14  score/wicket         255759 non-null  object
 15  wicket_confirmation  255759 non-null  int64
 16  wicket_type          12651 non-null   object
 17  fielders_involved    9122 non-null    object
 18  Player Out           12651 non-null   object
dtypes: float64(1), int64(6), object(12)
memory usage: 37.1+ MB

/tmp/ipykernel_93842/518313198.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./archive/IPL_stats_2008_2024.csv')

In [4]:
df2 = pd.read_csv('./archive/team_performance_dataset_2008to2024.csv')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1073 entries, 0 to 1072
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Match_ID              1073 non-null   int64
 1   Date                  1073 non-null   object
 2   Teams                 1073 non-null   object
 3   Venue                 1073 non-null   object
 4   Toss_Winner           1073 non-null   object
 5   Toss_Decision         1073 non-null   object
 6   Match_Winner          1073 non-null   object
 7   Win_Type              1054 non-null   object
 8   Win_Margin            1054 non-null   float64
 9   First_Innings_Score   1073 non-null   int64
 10  Second_Innings_Score  1070 non-null   float64
 11  Player_of_Match       1068 non-null   object
 12  Umpire                1073 non-null   object
 13  Umpire1               1073 non-null   object
 14  Umpire2               1073 non-null   object
 15  Powerplay_Scores      1073 non-null   int64
 16  Middle_Overs_Scores   1073 non-null   int64
 17  Death_Overs_Scores    1073 non-null   int64
dtypes: float64(2), int64(5), object(11)
memory usage: 151.0+ KB

In [5]:
df2.head()

,Match_ID,Date,Teams,Venue,Toss_Winner,Toss_Decision,Match_Winner,Win_Type,Win_Margin,First_Innings_Score,Second_Innings_Score,Player_of_Match,Umpire,Umpire1,Umpire2,Powerplay_Scores,Middle_Overs_Scores,Death_Overs_Scores
0,335982,2008-04-18,Royal Challengers Bangalore vs Kolkata Knight ...,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,222,82.0,BB McCullum,Asad Rauf,RE Koertzen,J Srinath,61,97,64
1,335983,2008-04-19,Kings XI Punjab vs Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,240,207.0,MEK Hussey,MR Benson,SL Shastri,S Venkataraghavan,53,116,71
2,335984,2008-04-19,Delhi Daredevils vs Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,129,132.0,MF Maharoof,Aleem Dar,GA Pratapkumar,GR Viswanath,40,66,23
3,335985,2008-04-20,Mumbai Indians vs Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,165,166.0,MV Boucher,SJ Davis,DJ Harper,J Srinath,47,71,47
4,335986,2008-04-20,Kolkata Knight Riders vs Deccan Chargers,Eden Gardens,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,110,112.0,DJ Hussey,BF Bowden,K Hariharan,FM Engineer,39,43,28

In [6]:
df.head(10)

,Match id,Date,Season,Batting team,Bowling team,Innings No,Ball No,Bowler,Striker,Non Striker,runs_scored,extras,type of extras,score,score/wicket,wicket_confirmation,wicket_type,fielders_involved,Player Out
0,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.1,P Kumar,SC Ganguly,BB McCullum,0,1,legbyes,1,1/0,0,NaN,NaN,NaN
1,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,0,NaN,1,1/0,0,NaN,NaN,NaN
2,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,1,wides,2,2/0,0,NaN,NaN,NaN
3,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.3,P Kumar,BB McCullum,SC Ganguly,0,0,NaN,2,2/0,0,NaN,NaN,NaN
4,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.4,P Kumar,BB McCullum,SC Ganguly,0,0,NaN,2,2/0,0,NaN,NaN,NaN
5,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.5,P Kumar,BB McCullum,SC Ganguly,0,0,NaN,2,2/0,0,NaN,NaN,NaN
6,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,1.0,P Kumar,BB McCullum,SC Ganguly,0,1,legbyes,3,3/0,0,NaN,NaN,NaN
7,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,1.1,Z Khan,BB McCullum,SC Ganguly,0,0,NaN,3,3/0,0,NaN,NaN,NaN
8,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,1.2,Z Khan,BB McCullum,SC Ganguly,4,0,NaN,7,7/0,0,NaN,NaN,NaN
9,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,1.3,Z Khan,BB McCullum,SC Ganguly,4,0,NaN,11,11/0,0,NaN,NaN,NaN

In [7]:
# Function to compute over number
def compute_over_number(ball_no):
    base = int(ball_no)
    if abs(ball_no - base) < 1e-6:
        return base
    return base + 1

In [8]:
df['Over_Number'] = df['Ball No'].apply(compute_over_number)

# Preview
print(df[['Ball No', 'Over_Number']].head(20))

    Ball No  Over_Number
0       0.1            1
1       0.2            1
2       0.2            1
3       0.3            1
4       0.4            1
5       0.5            1
6       1.0            1
7       1.1            2
8       1.2            2
9       1.3            2
10      1.4            2
11      1.5            2
12      2.0            2
13      2.1            3
14      2.2            3
15      2.3            3
16      2.4            3
17      2.5            3
18      3.0            3
19      3.0            3

In [9]:
df.head(15)

,Match id,Date,Season,Batting team,Bowling team,Innings No,Ball No,Bowler,Striker,Non Striker,runs_scored,extras,type of extras,score,score/wicket,wicket_confirmation,wicket_type,fielders_involved,Player Out,Over_Number
0,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.1,P Kumar,SC Ganguly,BB McCullum,0,1,legbyes,1,1/0,0,NaN,NaN,NaN,1
1,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,0,NaN,1,1/0,0,NaN,NaN,NaN,1
2,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,1,wides,2,2/0,0,NaN,NaN,NaN,1
3,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.3,P Kumar,BB McCullum,SC Ganguly,0,0,NaN,2,2/0,0,NaN,NaN,NaN,1
4,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.4,P Kumar,BB McCullum,SC Ganguly,0,0,NaN,2,2/0,0,NaN,NaN,NaN,1
5,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.5,P Kumar,BB McCullum,SC Ganguly,0,0,NaN,2,2/0,0,NaN,NaN,NaN,1
6,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,1.0,P Kumar,BB McCullum,SC Ganguly,0,1,legbyes,3,3/0,0,NaN,NaN,NaN,1
7,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,1.1,Z Khan,BB McCullum,SC Ganguly,0,0,NaN,3,3/0,0,NaN,NaN,NaN,2
8,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,1.2,Z Khan,BB McCullum,SC Ganguly,4,0,NaN,7,7/0,0,NaN,NaN,NaN,2
9,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,1.3,Z Khan,BB McCullum,SC Ganguly,4,0,NaN,11,11/0,0,NaN,NaN,NaN,2
10,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,1.4,Z Khan,BB McCullum,SC Ganguly,6,0,NaN,17,17/0,0,NaN,NaN,NaN,2
11,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,1.5,Z Khan,BB McCullum,SC Ganguly,4,0,NaN,21,21/0,0,NaN,NaN,NaN,2
12,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,2.0,Z Khan,BB McCullum,SC Ganguly,0,0,NaN,21,21/0,0,NaN,NaN,NaN,2
13,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,2.1,P Kumar,SC Ganguly,BB McCullum,0,0,NaN,21,21/0,0,NaN,NaN,NaN,3
14,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,2.2,P Kumar,SC Ganguly,BB McCullum,0,0,NaN,21,21/0,0,NaN,NaN,NaN,3

In [10]:
grouped = df.groupby([
    'Match id', 'Date', 'Season', 'Batting team', 'Bowling team', 'Over_Number', 'Innings No'
], as_index=False).agg({
    'runs_scored': 'sum',
    'extras': 'sum',
    'score': 'max'
})

In [11]:
grouped['Innings No'].unique()

array([1, 2, 3, 4, 6, 5])

In [12]:
grouped

,Match id,Date,Season,Batting team,Bowling team,Over_Number,Innings No,runs_scored,extras,score
0,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,0,3,3
1,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,2,1,18,0,21
2,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,3,1,5,6,32
3,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,4,1,17,1,50
4,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,5,1,10,0,60
...,...,...,...,...,...,...,...,...,...,...
41505,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,14,2,12,1,135
41506,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,15,2,0,0,135
41507,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,16,2,11,0,146
41508,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,17,2,5,5,156
41509,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,18,2,6,1,163

In [13]:
# Apply transformation
grouped['Innings No'] = np.where(
    grouped['Innings No'] > 2,
    np.where(grouped['Innings No'] % 2 == 1, 1, 2),
    grouped['Innings No']
)

In [14]:
import pandas as pd

# Step 1: Get consistent team order
team_order = grouped.groupby("Match id").first().reset_index()
team_order["Team1"] = team_order["Batting team"]
team_order["Team2"] = team_order["Bowling team"]
team_order = team_order[["Match id", "Team1", "Team2"]]

# Step 2: Create over-wise column names
grouped["over_column"] = grouped.apply(
    lambda row: f"innings_{int(row['Innings No'])}_over_{int(row['Over_Number'])}", axis=1
)

# Step 3: Pivot the table
pivot_df = grouped.pivot_table(
    index=["Match id", "Date", "Season"],
    columns="over_column",
    values="runs_scored",
    aggfunc="sum"
).reset_index()

# Step 4: Flatten multi-level column names if needed
pivot_df.columns.name = None
pivot_df.columns = [str(col) for col in pivot_df.columns]

# Step 5: Merge back with team info
final_df = pd.merge(pivot_df, team_order, on="Match id")

# Step 6: Sort the over columns numerically
def sort_key(col):
    if col.startswith("innings_"):
        parts = col.split("_")
        return (int(parts[1]), int(parts[3]))
    return (-1, -1)  # ensures 'Match id', 'Date' etc. come first

sorted_over_columns = sorted([col for col in final_df.columns if col.startswith("innings_")], key=sort_key)

# Step 7: Reorder all columns
cols = ['Match id', 'Date', 'Season', 'Team1', 'Team2'] + sorted_over_columns
final_df = final_df[cols]

In [15]:
final_df

,Match id,Date,Season,Team1,Team2,innings_1_over_0,innings_1_over_1,innings_1_over_2,innings_1_over_3,innings_1_over_4,...,innings_2_over_11,innings_2_over_12,innings_2_over_13,innings_2_over_14,innings_2_over_15,innings_2_over_16,innings_2_over_17,innings_2_over_18,innings_2_over_19,innings_2_over_20
0,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,NaN,0.0,18.0,5.0,17.0,...,5.0,3.0,9.0,7.0,2.0,0.0,NaN,NaN,NaN,NaN
1,335983,2008-04-19,2007/08,Chennai Super Kings,Kings XI Punjab,NaN,5.0,14.0,6.0,6.0,...,5.0,12.0,12.0,9.0,13.0,10.0,9.0,4.0,7.0,9.0
2,335984,2008-04-19,2007/08,Delhi Daredevils,Rajasthan Royals,NaN,6.0,10.0,0.0,14.0,...,9.0,5.0,6.0,4.0,12.0,4.0,NaN,NaN,NaN,NaN
3,335985,2008-04-20,2007/08,Mumbai Indians,Royal Challengers Bangalore,NaN,8.0,1.0,5.0,3.0,...,4.0,14.0,10.0,3.0,9.0,8.0,10.0,19.0,8.0,2.0
4,335986,2008-04-20,2007/08,Deccan Chargers,Kolkata Knight Riders,NaN,8.0,2.0,7.0,0.0,...,11.0,4.0,2.0,9.0,3.0,6.0,3.0,12.0,8.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1071,1426283,2024-04-28,2024,Gujarat Titans,Royal Challengers Bengaluru,NaN,6.0,7.0,11.0,3.0,...,12.0,13.0,11.0,10.0,28.0,29.0,NaN,NaN,NaN,NaN
1072,1426284,2024-04-28,2024,Chennai Super Kings,Sunrisers Hyderabad,NaN,4.0,7.0,6.0,11.0,...,6.0,9.0,7.0,4.0,3.0,9.0,6.0,4.0,6.0,NaN
1073,1426285,2024-04-29,2024,Delhi Capitals,Kolkata Knight Riders,NaN,14.0,0.0,12.0,11.0,...,9.0,8.0,9.0,4.0,7.0,10.0,6.0,NaN,NaN,NaN
1074,1426286,2024-04-30,2024,Lucknow Super Giants,Mumbai Indians,NaN,1.0,6.0,12.0,2.0,...,7.0,3.0,8.0,4.0,13.0,4.0,1.0,5.0,9.0,3.0
1075,1426287,2024-05-01,2024,Chennai Super Kings,Punjab Kings,NaN,4.0,10.0,5.0,3.0,...,3.0,13.0,8.0,12.0,0.0,11.0,5.0,6.0,NaN,NaN

In [16]:
df[df['Innings No'] > 2].count()

Match id               161
Date                   161
Season                 161
Batting team           161
Bowling team           161
Innings No             161
Ball No                161
Bowler                 161
Striker                161
Non Striker            161
runs_scored            161
extras                 161
type of extras          19
score                  161
score/wicket           161
wicket_confirmation    161
wicket_type             27
fielders_involved       12
Player Out              27
Over_Number            161
dtype: int64

In [17]:
df[df['Match id'] == 392190]

,Match id,Date,Season,Batting team,Bowling team,Innings No,Ball No,Bowler,Striker,Non Striker,runs_scored,extras,type of extras,score,score/wicket,wicket_confirmation,wicket_type,fielders_involved,Player Out,Over_Number
15161,392190,2009-04-23,2009,Rajasthan Royals,Kolkata Knight Riders,1,0.1,I Sharma,GC Smith,PC Valthaty,0,0,NaN,0,0/0,0,NaN,NaN,NaN,1
15162,392190,2009-04-23,2009,Rajasthan Royals,Kolkata Knight Riders,1,0.2,I Sharma,GC Smith,PC Valthaty,0,1,legbyes,1,1/0,0,NaN,NaN,NaN,1
15163,392190,2009-04-23,2009,Rajasthan Royals,Kolkata Knight Riders,1,0.3,I Sharma,PC Valthaty,GC Smith,1,0,NaN,2,2/0,0,NaN,NaN,NaN,1
15164,392190,2009-04-23,2009,Rajasthan Royals,Kolkata Knight Riders,1,0.4,I Sharma,GC Smith,PC Valthaty,0,0,NaN,2,2/0,0,NaN,NaN,NaN,1
15165,392190,2009-04-23,2009,Rajasthan Royals,Kolkata Knight Riders,1,0.5,I Sharma,GC Smith,PC Valthaty,0,0,NaN,2,2/0,0,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15423,392190,2009-04-23,2009,Kolkata Knight Riders,Rajasthan Royals,3,1.0,Kamran Khan,CH Gayle,BB McCullum,0,0,NaN,15,15/1,1,caught,RJ Quiney,CH Gayle,1
15424,392190,2009-04-23,2009,Rajasthan Royals,Kolkata Knight Riders,4,0.1,BAW Mendis,YK Pathan,AD Mascarenhas,6,0,NaN,6,6/0,0,NaN,NaN,NaN,1
15425,392190,2009-04-23,2009,Rajasthan Royals,Kolkata Knight Riders,4,0.2,BAW Mendis,YK Pathan,AD Mascarenhas,2,0,NaN,8,8/0,0,NaN,NaN,NaN,1
15426,392190,2009-04-23,2009,Rajasthan Royals,Kolkata Knight Riders,4,0.3,BAW Mendis,YK Pathan,AD Mascarenhas,6,0,NaN,14,14/0,0,NaN,NaN,NaN,1
15427,392190,2009-04-23,2009,Rajasthan Royals,Kolkata Knight Riders,4,0.4,BAW Mendis,YK Pathan,AD Mascarenhas,4,0,NaN,18,18/0,0,NaN,NaN,NaN,1

In [18]:
df[(df['Match id'] == 392190) & (df['Innings No'] > 2)]

,Match id,Date,Season,Batting team,Bowling team,Innings No,Ball No,Bowler,Striker,Non Striker,runs_scored,extras,type of extras,score,score/wicket,wicket_confirmation,wicket_type,fielders_involved,Player Out,Over_Number
15417,392190,2009-04-23,2009,Kolkata Knight Riders,Rajasthan Royals,3,0.1,Kamran Khan,CH Gayle,BB McCullum,1,0,NaN,1,1/0,0,NaN,NaN,NaN,1
15418,392190,2009-04-23,2009,Kolkata Knight Riders,Rajasthan Royals,3,0.2,Kamran Khan,BB McCullum,CH Gayle,1,0,NaN,2,2/0,0,NaN,NaN,NaN,1
15419,392190,2009-04-23,2009,Kolkata Knight Riders,Rajasthan Royals,3,0.2,Kamran Khan,CH Gayle,BB McCullum,0,1,wides,3,3/0,0,NaN,NaN,NaN,1
15420,392190,2009-04-23,2009,Kolkata Knight Riders,Rajasthan Royals,3,0.3,Kamran Khan,CH Gayle,BB McCullum,4,0,NaN,7,7/0,0,NaN,NaN,NaN,1
15421,392190,2009-04-23,2009,Kolkata Knight Riders,Rajasthan Royals,3,0.4,Kamran Khan,CH Gayle,BB McCullum,4,0,NaN,11,11/0,0,NaN,NaN,NaN,1
15422,392190,2009-04-23,2009,Kolkata Knight Riders,Rajasthan Royals,3,0.5,Kamran Khan,CH Gayle,BB McCullum,4,0,NaN,15,15/0,0,NaN,NaN,NaN,1
15423,392190,2009-04-23,2009,Kolkata Knight Riders,Rajasthan Royals,3,1.0,Kamran Khan,CH Gayle,BB McCullum,0,0,NaN,15,15/1,1,caught,RJ Quiney,CH Gayle,1
15424,392190,2009-04-23,2009,Rajasthan Royals,Kolkata Knight Riders,4,0.1,BAW Mendis,YK Pathan,AD Mascarenhas,6,0,NaN,6,6/0,0,NaN,NaN,NaN,1
15425,392190,2009-04-23,2009,Rajasthan Royals,Kolkata Knight Riders,4,0.2,BAW Mendis,YK Pathan,AD Mascarenhas,2,0,NaN,8,8/0,0,NaN,NaN,NaN,1
15426,392190,2009-04-23,2009,Rajasthan Royals,Kolkata Knight Riders,4,0.3,BAW Mendis,YK Pathan,AD Mascarenhas,6,0,NaN,14,14/0,0,NaN,NaN,NaN,1
15427,392190,2009-04-23,2009,Rajasthan Royals,Kolkata Knight Riders,4,0.4,BAW Mendis,YK Pathan,AD Mascarenhas,4,0,NaN,18,18/0,0,NaN,NaN,NaN,1

In [19]:
df[df['Innings No'] > 4]

,Match id,Date,Season,Batting team,Bowling team,Innings No,Ball No,Bowler,Striker,Non Striker,runs_scored,extras,type of extras,score,score/wicket,wicket_confirmation,wicket_type,fielders_involved,Player Out,Over_Number
185372,1216517,2020-10-18,2020/21,Mumbai Indians,Kings XI Punjab,5,0.1,CJ Jordan,KA Pollard,HH Pandya,1,0,NaN,1,1/0,0,NaN,NaN,NaN,1
185373,1216517,2020-10-18,2020/21,Mumbai Indians,Kings XI Punjab,5,0.1,CJ Jordan,HH Pandya,KA Pollard,0,1,wides,2,2/0,0,NaN,NaN,NaN,1
185374,1216517,2020-10-18,2020/21,Mumbai Indians,Kings XI Punjab,5,0.2,CJ Jordan,HH Pandya,KA Pollard,1,0,NaN,3,3/0,0,NaN,NaN,NaN,1
185375,1216517,2020-10-18,2020/21,Mumbai Indians,Kings XI Punjab,5,0.3,CJ Jordan,KA Pollard,HH Pandya,4,0,NaN,7,7/0,0,NaN,NaN,NaN,1
185376,1216517,2020-10-18,2020/21,Mumbai Indians,Kings XI Punjab,5,0.3,CJ Jordan,KA Pollard,HH Pandya,0,1,wides,8,8/0,0,NaN,NaN,NaN,1
185377,1216517,2020-10-18,2020/21,Mumbai Indians,Kings XI Punjab,5,0.4,CJ Jordan,KA Pollard,HH Pandya,1,0,NaN,9,9/1,1,run out,NaN,HH Pandya,1
185378,1216517,2020-10-18,2020/21,Mumbai Indians,Kings XI Punjab,5,0.5,CJ Jordan,KA Pollard,SA Yadav,0,0,NaN,9,9/1,0,NaN,NaN,NaN,1
185379,1216517,2020-10-18,2020/21,Mumbai Indians,Kings XI Punjab,5,1.0,CJ Jordan,KA Pollard,SA Yadav,2,0,NaN,11,11/1,0,NaN,NaN,NaN,1
185380,1216517,2020-10-18,2020/21,Kings XI Punjab,Mumbai Indians,6,0.1,TA Boult,CH Gayle,MA Agarwal,6,0,NaN,6,6/0,0,NaN,NaN,NaN,1
185381,1216517,2020-10-18,2020/21,Kings XI Punjab,Mumbai Indians,6,0.2,TA Boult,CH Gayle,MA Agarwal,1,0,NaN,7,7/0,0,NaN,NaN,NaN,1
185382,1216517,2020-10-18,2020/21,Kings XI Punjab,Mumbai Indians,6,0.3,TA Boult,MA Agarwal,CH Gayle,4,0,NaN,11,11/0,0,NaN,NaN,NaN,1
185383,1216517,2020-10-18,2020/21,Kings XI Punjab,Mumbai Indians,6,0.4,TA Boult,MA Agarwal,CH Gayle,4,0,NaN,15,15/0,0,NaN,NaN,NaN,1

In [20]:
final_df.isna().count()

Match id             1076
Date                 1076
Season               1076
Team1                1076
Team2                1076
innings_1_over_0     1076
innings_1_over_1     1076
innings_1_over_2     1076
innings_1_over_3     1076
innings_1_over_4     1076
innings_1_over_5     1076
innings_1_over_6     1076
innings_1_over_7     1076
innings_1_over_8     1076
innings_1_over_9     1076
innings_1_over_10    1076
innings_1_over_11    1076
innings_1_over_12    1076
innings_1_over_13    1076
innings_1_over_14    1076
innings_1_over_15    1076
innings_1_over_16    1076
innings_1_over_17    1076
innings_1_over_18    1076
innings_1_over_19    1076
innings_1_over_20    1076
innings_1_over_21    1076
innings_2_over_0     1076
innings_2_over_1     1076
innings_2_over_2     1076
innings_2_over_3     1076
innings_2_over_4     1076
innings_2_over_5     1076
innings_2_over_6     1076
innings_2_over_7     1076
innings_2_over_8     1076
innings_2_over_9     1076
innings_2_over_10    1076
innings_2_over_11    1076
innings_2_over_12    1076
innings_2_over_13    1076
innings_2_over_14    1076
innings_2_over_15    1076
innings_2_over_16    1076
innings_2_over_17    1076
innings_2_over_18    1076
innings_2_over_19    1076
innings_2_over_20    1076
dtype: int64

In [21]:
final_df

,Match id,Date,Season,Team1,Team2,innings_1_over_0,innings_1_over_1,innings_1_over_2,innings_1_over_3,innings_1_over_4,...,innings_2_over_11,innings_2_over_12,innings_2_over_13,innings_2_over_14,innings_2_over_15,innings_2_over_16,innings_2_over_17,innings_2_over_18,innings_2_over_19,innings_2_over_20
0,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,NaN,0.0,18.0,5.0,17.0,...,5.0,3.0,9.0,7.0,2.0,0.0,NaN,NaN,NaN,NaN
1,335983,2008-04-19,2007/08,Chennai Super Kings,Kings XI Punjab,NaN,5.0,14.0,6.0,6.0,...,5.0,12.0,12.0,9.0,13.0,10.0,9.0,4.0,7.0,9.0
2,335984,2008-04-19,2007/08,Delhi Daredevils,Rajasthan Royals,NaN,6.0,10.0,0.0,14.0,...,9.0,5.0,6.0,4.0,12.0,4.0,NaN,NaN,NaN,NaN
3,335985,2008-04-20,2007/08,Mumbai Indians,Royal Challengers Bangalore,NaN,8.0,1.0,5.0,3.0,...,4.0,14.0,10.0,3.0,9.0,8.0,10.0,19.0,8.0,2.0
4,335986,2008-04-20,2007/08,Deccan Chargers,Kolkata Knight Riders,NaN,8.0,2.0,7.0,0.0,...,11.0,4.0,2.0,9.0,3.0,6.0,3.0,12.0,8.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1071,1426283,2024-04-28,2024,Gujarat Titans,Royal Challengers Bengaluru,NaN,6.0,7.0,11.0,3.0,...,12.0,13.0,11.0,10.0,28.0,29.0,NaN,NaN,NaN,NaN
1072,1426284,2024-04-28,2024,Chennai Super Kings,Sunrisers Hyderabad,NaN,4.0,7.0,6.0,11.0,...,6.0,9.0,7.0,4.0,3.0,9.0,6.0,4.0,6.0,NaN
1073,1426285,2024-04-29,2024,Delhi Capitals,Kolkata Knight Riders,NaN,14.0,0.0,12.0,11.0,...,9.0,8.0,9.0,4.0,7.0,10.0,6.0,NaN,NaN,NaN
1074,1426286,2024-04-30,2024,Lucknow Super Giants,Mumbai Indians,NaN,1.0,6.0,12.0,2.0,...,7.0,3.0,8.0,4.0,13.0,4.0,1.0,5.0,9.0,3.0
1075,1426287,2024-05-01,2024,Chennai Super Kings,Punjab Kings,NaN,4.0,10.0,5.0,3.0,...,3.0,13.0,8.0,12.0,0.0,11.0,5.0,6.0,NaN,NaN

In [22]:
# Convert Match id columns to sets
final_ids = set(final_df['Match id'])
df2_ids = set(df2['Match_ID'])

# Find missing Match ids
missing_ids = final_ids - df2_ids  # present in final_df but not in df2

print("Missing Match ids:", missing_ids)
print("Number of missing Match ids:", len(missing_ids))

Missing Match ids: set()
Number of missing Match ids: 0

In [23]:
missing_rows = final_df[final_df['Match id'].isin(missing_ids)]
missing_rows.head()

Empty DataFrame
Columns: [Match id, Date, Season, Team1, Team2, innings_1_over_0, innings_1_over_1, innings_1_over_2, innings_1_over_3, innings_1_over_4, innings_1_over_5, innings_1_over_6, innings_1_over_7, innings_1_over_8, innings_1_over_9, innings_1_over_10, innings_1_over_11, innings_1_over_12, innings_1_over_13, innings_1_over_14, innings_1_over_15, innings_1_over_16, innings_1_over_17, innings_1_over_18, innings_1_over_19, innings_1_over_20, innings_1_over_21, innings_2_over_0, innings_2_over_1, innings_2_over_2, innings_2_over_3, innings_2_over_4, innings_2_over_5, innings_2_over_6, innings_2_over_7, innings_2_over_8, innings_2_over_9, innings_2_over_10, innings_2_over_11, innings_2_over_12, innings_2_over_13, innings_2_over_14, innings_2_over_15, innings_2_over_16, innings_2_over_17, innings_2_over_18, innings_2_over_19, innings_2_over_20]
Index: []

[0 rows x 48 columns]

In [24]:
# Fill all NaN values with 0
final_df = final_df.fillna(0)

# Drop innings_1_over_0 and innings_2_over_0 if they exist
columns_to_drop = ['Team1', 'Team2','innings_1_over_0', 'innings_2_over_0',	'Date',	'Season']
final_df = final_df.drop(columns=[col for col in columns_to_drop if col in final_df.columns])

In [25]:
final_df

,Match id,innings_1_over_1,innings_1_over_2,innings_1_over_3,innings_1_over_4,innings_1_over_5,innings_1_over_6,innings_1_over_7,innings_1_over_8,innings_1_over_9,...,innings_2_over_11,innings_2_over_12,innings_2_over_13,innings_2_over_14,innings_2_over_15,innings_2_over_16,innings_2_over_17,innings_2_over_18,innings_2_over_19,innings_2_over_20
0,335982,0.0,18.0,5.0,17.0,10.0,1.0,7.0,5.0,4.0,...,5.0,3.0,9.0,7.0,2.0,0.0,0.0,0.0,0.0,0.0
1,335983,5.0,14.0,6.0,6.0,8.0,11.0,9.0,8.0,13.0,...,5.0,12.0,12.0,9.0,13.0,10.0,9.0,4.0,7.0,9.0
2,335984,6.0,10.0,0.0,14.0,6.0,2.0,4.0,3.0,2.0,...,9.0,5.0,6.0,4.0,12.0,4.0,0.0,0.0,0.0,0.0
3,335985,8.0,1.0,5.0,3.0,18.0,6.0,7.0,6.0,11.0,...,4.0,14.0,10.0,3.0,9.0,8.0,10.0,19.0,8.0,2.0
4,335986,8.0,2.0,7.0,0.0,2.0,16.0,6.0,1.0,1.0,...,11.0,4.0,2.0,9.0,3.0,6.0,3.0,12.0,8.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1071,1426283,6.0,7.0,11.0,3.0,4.0,6.0,5.0,12.0,13.0,...,12.0,13.0,11.0,10.0,28.0,29.0,0.0,0.0,0.0,0.0
1072,1426284,4.0,7.0,6.0,11.0,15.0,5.0,9.0,8.0,15.0,...,6.0,9.0,7.0,4.0,3.0,9.0,6.0,4.0,6.0,0.0
1073,1426285,14.0,0.0,12.0,11.0,16.0,9.0,1.0,5.0,7.0,...,9.0,8.0,9.0,4.0,7.0,10.0,6.0,0.0,0.0,0.0
1074,1426286,1.0,6.0,12.0,2.0,5.0,1.0,5.0,5.0,7.0,...,7.0,3.0,8.0,4.0,13.0,4.0,1.0,5.0,9.0,3.0
1075,1426287,4.0,10.0,5.0,3.0,14.0,14.0,5.0,4.0,2.0,...,3.0,13.0,8.0,12.0,0.0,11.0,5.0,6.0,0.0,0.0

In [26]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1076 entries, 0 to 1075
Data columns (total 42 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Match id           1076 non-null   int64
 1   innings_1_over_1   1076 non-null   float64
 2   innings_1_over_2   1076 non-null   float64
 3   innings_1_over_3   1076 non-null   float64
 4   innings_1_over_4   1076 non-null   float64
 5   innings_1_over_5   1076 non-null   float64
 6   innings_1_over_6   1076 non-null   float64
 7   innings_1_over_7   1076 non-null   float64
 8   innings_1_over_8   1076 non-null   float64
 9   innings_1_over_9   1076 non-null   float64
 10  innings_1_over_10  1076 non-null   float64
 11  innings_1_over_11  1076 non-null   float64
 12  innings_1_over_12  1076 non-null   float64
 13  innings_1_over_13  1076 non-null   float64
 14  innings_1_over_14  1076 non-null   float64
 15  innings_1_over_15  1076 non-null   float64
 16  innings_1_over_16  1076 non-null   float64
 17  innings_1_over_17  1076 non-null   float64
 18  innings_1_over_18  1076 non-null   float64
 19  innings_1_over_19  1076 non-null   float64
 20  innings_1_over_20  1076 non-null   float64
 21  innings_1_over_21  1076 non-null   float64
 22  innings_2_over_1   1076 non-null   float64
 23  innings_2_over_2   1076 non-null   float64
 24  innings_2_over_3   1076 non-null   float64
 25  innings_2_over_4   1076 non-null   float64
 26  innings_2_over_5   1076 non-null   float64
 27  innings_2_over_6   1076 non-null   float64
 28  innings_2_over_7   1076 non-null   float64
 29  innings_2_over_8   1076 non-null   float64
 30  innings_2_over_9   1076 non-null   float64
 31  innings_2_over_10  1076 non-null   float64
 32  innings_2_over_11  1076 non-null   float64
 33  innings_2_over_12  1076 non-null   float64
 34  innings_2_over_13  1076 non-null   float64
 35  innings_2_over_14  1076 non-null   float64
 36  innings_2_over_15  1076 non-null   float64
 37  innings_2_over_16  1076 non-null   float64
 38  innings_2_over_17  1076 non-null   float64
 39  innings_2_over_18  1076 non-null   float64
 40  innings_2_over_19  1076 non-null   float64
 41  innings_2_over_20  1076 non-null   float64
dtypes: float64(41), int64(1)
memory usage: 353.2 KB

In [27]:
df2.head()

,Match_ID,Date,Teams,Venue,Toss_Winner,Toss_Decision,Match_Winner,Win_Type,Win_Margin,First_Innings_Score,Second_Innings_Score,Player_of_Match,Umpire,Umpire1,Umpire2,Powerplay_Scores,Middle_Overs_Scores,Death_Overs_Scores
0,335982,2008-04-18,Royal Challengers Bangalore vs Kolkata Knight ...,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,222,82.0,BB McCullum,Asad Rauf,RE Koertzen,J Srinath,61,97,64
1,335983,2008-04-19,Kings XI Punjab vs Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,240,207.0,MEK Hussey,MR Benson,SL Shastri,S Venkataraghavan,53,116,71
2,335984,2008-04-19,Delhi Daredevils vs Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,129,132.0,MF Maharoof,Aleem Dar,GA Pratapkumar,GR Viswanath,40,66,23
3,335985,2008-04-20,Mumbai Indians vs Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,165,166.0,MV Boucher,SJ Davis,DJ Harper,J Srinath,47,71,47
4,335986,2008-04-20,Kolkata Knight Riders vs Deccan Chargers,Eden Gardens,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,110,112.0,DJ Hussey,BF Bowden,K Hariharan,FM Engineer,39,43,28

In [28]:
# First, make sure both DataFrames have the same Match ID column name
df2.rename(columns={'Match_ID': 'Match id'}, inplace=True)
# Strip spaces and fix column names
df2.columns = df2.columns.str.strip()
# Merge on 'Match id'
combined_df = pd.merge(df2, final_df, on='Match id', how='inner')  
combined_df.tail()

,Match id,Date,Teams,Venue,Toss_Winner,Toss_Decision,Match_Winner,Win_Type,Win_Margin,First_Innings_Score,...,innings_2_over_11,innings_2_over_12,innings_2_over_13,innings_2_over_14,innings_2_over_15,innings_2_over_16,innings_2_over_17,innings_2_over_18,innings_2_over_19,innings_2_over_20
1071,1426283,2024-04-28,Gujarat Titans vs Royal Challengers Bengaluru,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,field,Royal Challengers Bengaluru,wickets,9.0,200,...,12.0,13.0,11.0,10.0,28.0,29.0,0.0,0.0,0.0,0.0
1072,1426284,2024-04-28,Chennai Super Kings vs Sunrisers Hyderabad,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,field,Chennai Super Kings,runs,78.0,212,...,6.0,9.0,7.0,4.0,3.0,9.0,6.0,4.0,6.0,0.0
1073,1426285,2024-04-29,Delhi Capitals vs Kolkata Knight Riders,"Eden Gardens, Kolkata",Delhi Capitals,bat,Kolkata Knight Riders,wickets,7.0,153,...,9.0,8.0,9.0,4.0,7.0,10.0,6.0,0.0,0.0,0.0
1074,1426286,2024-04-30,Mumbai Indians vs Lucknow Super Giants,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow Super Giants,field,Lucknow Super Giants,wickets,4.0,144,...,7.0,3.0,8.0,4.0,13.0,4.0,1.0,5.0,9.0,3.0
1075,1426287,2024-05-01,Chennai Super Kings vs Punjab Kings,"MA Chidambaram Stadium, Chepauk, Chennai",Punjab Kings,field,Punjab Kings,wickets,7.0,162,...,3.0,13.0,8.0,12.0,0.0,11.0,5.0,6.0,0.0,0.0

In [29]:
final_df.shape

(1076, 42)

In [30]:
df2.shape

(1073, 18)

In [31]:
combined_df.shape

(1076, 59)

In [32]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1073 entries, 0 to 1072
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Match id              1073 non-null   int64
 1   Date                  1073 non-null   object
 2   Teams                 1073 non-null   object
 3   Venue                 1073 non-null   object
 4   Toss_Winner           1073 non-null   object
 5   Toss_Decision         1073 non-null   object
 6   Match_Winner          1073 non-null   object
 7   Win_Type              1054 non-null   object
 8   Win_Margin            1054 non-null   float64
 9   First_Innings_Score   1073 non-null   int64
 10  Second_Innings_Score  1070 non-null   float64
 11  Player_of_Match       1068 non-null   object
 12  Umpire                1073 non-null   object
 13  Umpire1               1073 non-null   object
 14  Umpire2               1073 non-null   object
 15  Powerplay_Scores      1073 non-null   int64
 16  Middle_Overs_Scores   1073 non-null   int64
 17  Death_Overs_Scores    1073 non-null   int64
dtypes: float64(2), int64(5), object(11)
memory usage: 151.0+ KB

In [46]:
combined_df.to_csv('IPL_2008_to_2014_over_wise.csv', index=False)

In [36]:
combined_df.isna().sum()

Match id                 0
Date                     0
Teams                    0
Venue                    0
Toss_Winner              0
Toss_Decision            0
Match_Winner             0
Win_Type                19
Win_Margin              19
First_Innings_Score      0
Second_Innings_Score     3
Player_of_Match          5
Umpire                   0
Umpire1                  0
Umpire2                  0
Powerplay_Scores         0
Middle_Overs_Scores      0
Death_Overs_Scores       0
innings_1_over_1         0
innings_1_over_2         0
innings_1_over_3         0
innings_1_over_4         0
innings_1_over_5         0
innings_1_over_6         0
innings_1_over_7         0
innings_1_over_8         0
innings_1_over_9         0
innings_1_over_10        0
innings_1_over_11        0
innings_1_over_12        0
innings_1_over_13        0
innings_1_over_14        0
innings_1_over_15        0
innings_1_over_16        0
innings_1_over_17        0
innings_1_over_18        0
innings_1_over_19        0
innings_1_over_20        0
innings_1_over_21        0
innings_2_over_1         0
innings_2_over_2         0
innings_2_over_3         0
innings_2_over_4         0
innings_2_over_5         0
innings_2_over_6         0
innings_2_over_7         0
innings_2_over_8         0
innings_2_over_9         0
innings_2_over_10        0
innings_2_over_11        0
innings_2_over_12        0
innings_2_over_13        0
innings_2_over_14        0
innings_2_over_15        0
innings_2_over_16        0
innings_2_over_17        0
innings_2_over_18        0
innings_2_over_19        0
innings_2_over_20        0
dtype: int64

In [37]:
combined_df.fillna(0)

,Match id,Date,Teams,Venue,Toss_Winner,Toss_Decision,Match_Winner,Win_Type,Win_Margin,First_Innings_Score,...,innings_2_over_11,innings_2_over_12,innings_2_over_13,innings_2_over_14,innings_2_over_15,innings_2_over_16,innings_2_over_17,innings_2_over_18,innings_2_over_19,innings_2_over_20
0,335982,2008-04-18,Royal Challengers Bangalore vs Kolkata Knight ...,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,222,...,5.0,3.0,9.0,7.0,2.0,0.0,0.0,0.0,0.0,0.0
1,335983,2008-04-19,Kings XI Punjab vs Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,240,...,5.0,12.0,12.0,9.0,13.0,10.0,9.0,4.0,7.0,9.0
2,335984,2008-04-19,Delhi Daredevils vs Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,129,...,9.0,5.0,6.0,4.0,12.0,4.0,0.0,0.0,0.0,0.0
3,335985,2008-04-20,Mumbai Indians vs Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,165,...,4.0,14.0,10.0,3.0,9.0,8.0,10.0,19.0,8.0,2.0
4,335986,2008-04-20,Kolkata Knight Riders vs Deccan Chargers,Eden Gardens,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,110,...,11.0,4.0,2.0,9.0,3.0,6.0,3.0,12.0,8.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1071,1426283,2024-04-28,Gujarat Titans vs Royal Challengers Bengaluru,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,field,Royal Challengers Bengaluru,wickets,9.0,200,...,12.0,13.0,11.0,10.0,28.0,29.0,0.0,0.0,0.0,0.0
1072,1426284,2024-04-28,Chennai Super Kings vs Sunrisers Hyderabad,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,field,Chennai Super Kings,runs,78.0,212,...,6.0,9.0,7.0,4.0,3.0,9.0,6.0,4.0,6.0,0.0
1073,1426285,2024-04-29,Delhi Capitals vs Kolkata Knight Riders,"Eden Gardens, Kolkata",Delhi Capitals,bat,Kolkata Knight Riders,wickets,7.0,153,...,9.0,8.0,9.0,4.0,7.0,10.0,6.0,0.0,0.0,0.0
1074,1426286,2024-04-30,Mumbai Indians vs Lucknow Super Giants,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow Super Giants,field,Lucknow Super Giants,wickets,4.0,144,...,7.0,3.0,8.0,4.0,13.0,4.0,1.0,5.0,9.0,3.0
1075,1426287,2024-05-01,Chennai Super Kings vs Punjab Kings,"MA Chidambaram Stadium, Chepauk, Chennai",Punjab Kings,field,Punjab Kings,wickets,7.0,162,...,3.0,13.0,8.0,12.0,0.0,11.0,5.0,6.0,0.0,0.0

In [45]:
combined_df.isna().sum()

Match id                0
Date                    0
Teams                   0
Venue                   0
Toss_Winner             0
Toss_Decision           0
Match_Winner            0
Win_Type                0
Win_Margin              0
First_Innings_Score     0
Second_Innings_Score    0
Player_of_Match         0
Umpire                  0
Umpire1                 0
Umpire2                 0
Powerplay_Scores        0
Middle_Overs_Scores     0
Death_Overs_Scores      0
innings_1_over_1        0
innings_1_over_2        0
innings_1_over_3        0
innings_1_over_4        0
innings_1_over_5        0
innings_1_over_6        0
innings_1_over_7        0
innings_1_over_8        0
innings_1_over_9        0
innings_1_over_10       0
innings_1_over_11       0
innings_1_over_12       0
innings_1_over_13       0
innings_1_over_14       0
innings_1_over_15       0
innings_1_over_16       0
innings_1_over_17       0
innings_1_over_18       0
innings_1_over_19       0
innings_1_over_20       0
innings_1_over_21       0
innings_2_over_1        0
innings_2_over_2        0
innings_2_over_3        0
innings_2_over_4        0
innings_2_over_5        0
innings_2_over_6        0
innings_2_over_7        0
innings_2_over_8        0
innings_2_over_9        0
innings_2_over_10       0
innings_2_over_11       0
innings_2_over_12       0
innings_2_over_13       0
innings_2_over_14       0
innings_2_over_15       0
innings_2_over_16       0
innings_2_over_17       0
innings_2_over_18       0
innings_2_over_19       0
innings_2_over_20       0
dtype: int64

In [44]:
combined_df['Player_of_Match'] = combined_df['Player_of_Match'].fillna('unknown')